/* Container Styles */
.container {
  text-align: center;
  padding: 20px;
}

/* Heading Styles */
.heading {
  font-size: 32px;
  font-weight: bold;
  color: #141430;
  margin-bottom: 20px;
}

.subheading {
  font-size: 20px;
  font-weight: bold;
  color: #141430;
  margin-bottom: 20px;
}

/* Cards Wrapper */
.cardsWrapper {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Add spacing between the cards */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin-top: 20px;
}

/* Card Styles */
.card {
  width: 200px;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardDisabled {
  width: 200px;
  height: 120px;
  background-color: grey;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  text-decoration: none;
}

/* Card Text Styles */
.cardText {
  font-size: 18px;
  font-weight: bold;
  color: #00bfa6;
  text-decoration: none;
}

.cardTextDisabled {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
