.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #141430;
  margin-bottom: 20px;
  text-align: center;
}

.headingSub {
  font-size: 16px;
  font-weight: bold;
  color: #141430;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  color: #141430;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #00bfa6;
  box-shadow: 0 0 5px rgba(0, 191, 166, 0.5);
}

.button {
  background-color: #00bfa6;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #00a890;
}

.message {
  text-align: center;
  font-size: 14px;
  color: #141430;
  margin-top: 10px;
}

.input-readonly {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f5f5f5; /* Light greyscale background */
  color: #a0a0a0; /* Subtle text color for read-only */
  cursor: default; /* Arrow cursor instead of pointer */
}

.input-readonly:focus {
  outline: none; /* Prevent focus outline */
  border-color: #e0e0e0; /* Maintain the same border on focus */
}

/* Link Styles (e.g., 'Sign Up') */
.toggleLink {
  color: #00bfa6;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.2s ease;
  cursor: pointer;
}

/* Link Hover State */
.toggleLink:hover {
  color: #008f78;
}

input:checked + .slider {
  background-color: #00bfa6;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.inlineGroup {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns label and toggle on the same row */
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00bfa6;
}

input:checked + .slider:before {
  transform: translateX(16px);
}
